@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: theme(colors.white);
    --foreground: theme(colors.neutral);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: theme(colors.neutral);
      --foreground: theme(colors.white);
    }
  }

  body {
    font-family: "ff-meta-web-pro", sans-serif;
    background: rgb(var(--background));
    color: rgb(var(--foreground));
  }
}
