@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: theme(colors.white);
    --foreground: theme(colors.neutral);
  }

  /*@media (prefers-color-scheme: dark) {*/
  /*  :root {*/
  /*    --foreground-rgb: 255, 255, 255;*/
  /*    --background-start-rgb: 0, 0, 0;*/
  /*    --background-end-rgb: 0, 0, 0;*/
  /*  }*/
  /*}*/

  body {
    font-family: "ff-meta-web-pro", sans-serif;
    background: rgb(var(--background));
    color: rgb(var(--foreground));
  }
}
